<h1>{{ timetable.title }}</h1>
<p>{{ timetable.description|linebreaksbr }}</p>

<table>
  <tr>
    <td>&nbsp;</td>
    {% for column in columns %}
        <td>{{ column.name }}</td>
    {% endfor %}
  </tr>
  {% for row in rows %}
    <tr>
      <td>{{ row.start_at }}</td>
      {% for column in columns %}
        <td>
          {% for item in items %}
            {% if item.row.pk == row.pk and item.column.pk == column.pk %}
              {{ item.talk.title }}
            {% endif %}
          {% endfor %}
          <form method="POST"
              action="{% url 'timetables:item_new' table_pk=timetable.pk row_pk=row.pk column_pk=column.pk %}">{% csrf_token %}
            {{ item_form.as_p }}
            <button type="submit">Create</button>
          </form>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<h2>タイムテーブルにRowを作成</h2>
<form method="POST" action="{% url 'timetables:row_new' table_pk=timetable.pk %}">{% csrf_token %}
  {{ row_form.as_p }}
  <button type="submit">Create</button>
</form>

<h2>タイムテーブルにColumnを作成</h2>
<form method="POST" action="{% url 'timetables:column_new' table_pk=timetable.pk %}">{% csrf_token %}
  {{ column_form.as_p }}
  <button type="submit">Create</button>
</form>
